# Flutter / Dart
build/
.flutter-plugins
.flutter-plugins-deps
.packages
.pub/
.pub-cache/
.dart_tool/
generated_plugin_registrant.dart

# Android
**/gradle-wrapper.jar
/android/.gradle/
**/local.properties

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Ignore the organizer script (optional)
organize_project.ps1
